<head>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<!-- Fila bienvenido-->
<div class="logout">
    <p class="bienvenido negro">Bienvenid@, {{persona}}.</p>
    <a href="/admin/login/logout" class="salida negro">Cerrar sesión <i class="fas fa-right-from-bracket" class="negro"></i></a>
</div>
<!--Fin fila-->
<!--Fila título de la página -->
<div class="contentText" style="padding: 3%; padding-right: 5%;">
    <div class="display-btn-post">
        <h2 style="margin-right: 10px;">Blog</h2>
        <a class="btn btn-success btn-sm" href="/admin/blog/nuevo" title="Nueva entrada blog">Nueva entrada</a>
    </div>
</div>
<div class="generaltablaBlog">
<!--Fin título página-->
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th class="text-center">Imagen</th>
        <th class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each blog}}
      <tr>
        <td>{{id}}</td>
        <td>{{titulo}}</td>
        <td class="text-center">{{{imagen}}}</td>
        <td class="text-end">
          <a class="fas fa-pencil-alt negro" href="/admin/blog/editar/{{id}}"></a>
          <a class="fas fa-trash-alt negro" href="/admin/blog/eliminar/{{id}}"></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<!---->

</div>